html, body, #__next, #root {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  background: #18181b;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

@media (orientation: landscape) and (max-width: 900px) {
  html, body, #__next, #root {
    font-size: 15px;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;